# Project: grader
# Makefile created by Dev-C++ 4.9.9.2

CPP  = g++.exe -D__DEBUG__
CC   = gcc.exe -D__DEBUG__
WINDRES = windres.exe
RES  = 
OBJ  = grader.o evaluate.o db_interface.o execute.o $(RES)
LINKOBJ  = grader.o evaluate.o db_interface.o execute.o $(RES)
LIBS =  -L"E:/Dev-Cpp/lib" -lmysql  -g3 -lpsapi
INCS =  -I"E:/Dev-Cpp/include"  -I"E:/Dev-Cpp/include/mysql" 
CXXINCS =  -I"E:/Dev-Cpp/lib/gcc/mingw32/3.4.2/include"  -I"E:/Dev-Cpp/include/c++/3.4.2/backward"  -I"E:/Dev-Cpp/include/c++/3.4.2/mingw32"  -I"E:/Dev-Cpp/include/c++/3.4.2"  -I"E:/Dev-Cpp/include"  -I"E:/Dev-Cpp/include/mysql" 
BIN  = grader.exe
CXXFLAGS = $(CXXINCS) -DON_WINDOWS   -D ON_WINDOWS -g3
CFLAGS = $(INCS) -DON_WINDOWS   -D ON_WINDOWS -g3
RM = rm -f

.PHONY: all all-before all-after clean clean-custom

all: all-before grader.exe all-after


clean: clean-custom
	${RM} $(OBJ) $(BIN)

$(BIN): $(OBJ)
	$(CPP) $(LINKOBJ) -o "grader.exe" $(LIBS)

grader.o: grader.cpp
	$(CPP) -c grader.cpp -o grader.o $(CXXFLAGS)

evaluate.o: evaluate.cpp
	$(CPP) -c evaluate.cpp -o evaluate.o $(CXXFLAGS)

db_interface.o: db_interface.cpp
	$(CPP) -c db_interface.cpp -o db_interface.o $(CXXFLAGS)

execute.o: execute.cpp
	$(CPP) -c execute.cpp -o execute.o $(CXXFLAGS)
